@using Web.Models.ViewModels
@model CartItemViewModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal DiscountValue = 0;
}
<div class="page-content">
    <div class="checkout">
        <div class="container">
            @* <div class="checkout-discount">
                <form action="#">
                    <input type="text" class="form-control" required="" id="checkout-discount-input">
                    <label for="checkout-discount-input" class="text-truncate" style="opacity: 1;">Have a coupon? <span>Click here to enter your code</span></label>
                </form>
            </div><!-- End .checkout-discount --> *@
            <form asp-action="CheckoutSuccess" asp-controller="Checkout" method="post">
                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                        <label>Full Name *</label>
                        <input type="text" class="form-control" asp-for="UserName" required="">

                        <label>Address *</label>
                        <input type="text" class="form-control" asp-for="Address" required="">

                        <label>Phone Number *</label>
                        <input type="text" class="form-control" asp-for="Phone" required="">

                        <label>Email *</label>
                        <input type="email" class="form-control" asp-for="Email" required="">

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkout-create-acc">
                            <label class="custom-control-label" for="checkout-create-acc">Create an account?</label>
                        </div><!-- End .custom-checkbox -->

                        <label>Order notes (optional)</label>
                        <textarea class="form-control" cols="30" rows="4" name="Note" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary">
                            <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                            <table class="table table-summary">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (Model.CartItems.Count() > 0)
                                    {
                                        @foreach (var item in Model.CartItems)
                                        {
                                            <tr>
                                                <td><a asp-action="Details" asp-controller="Product" asp-route-Id="@item.ProductId">@item.ProductName</a></td>
                                                @* <td>@item.TotalPrice</td> *@
                                                <td>@Model.CartItems.Where(i => i.ProductId == @item.ProductId).Sum(x => x.Quantity * x.Price).ToString("#,##0 VNĐ")</td>
                                            </tr>
                                        }
                                    }
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td>@Model.GrandTotal.ToString("#,##0 VNĐ")</td>
                                    </tr><!-- End .summary-subtotal -->
                                    <tr>
                                        <td>Shipping:</td>
                                        <td>@Model.ShippingFee.ToString("#,##0 VNĐ")</td>
                                    </tr>
                                    <tr>
                                        <td>Discount:</td>
                                        @if (ViewBag.CouponCode != null && ViewBag.CouponCode != 0)
                                        {
                                            <td>@((@ViewBag.CouponCode * @Model.GrandTotal).ToString("#,##0 VNĐ"))</td>
                                            DiscountValue += @ViewBag.CouponCode * Model.GrandTotal;
                                        }
                                        else
                                        {
                                            <td>0 VNĐ</td>
                                        }
                                    </tr>
                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td>@((Model.GrandTotal + Model.ShippingFee - DiscountValue).ToString("#,##0 VNĐ"))</td>
                                    </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->

                            <div class="accordion-summary" id="accordion-payment">
                                <input type="hidden" id="PaymentMethod" name="PaymentMethod" value="">

                                <div class="card">
                                    <div class="card-header" id="heading-cod">
                                        <h2 class="card-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-cod" aria-expanded="false" aria-controls="collapse-cod">
                                                Thanh toán khi nhận hàng (Cash on Delivery)
                                            </a>
                                        </h2>
                                    </div><!-- End .card-header -->
                                    <div id="collapse-cod" class="collapse" aria-labelledby="heading-cod" data-parent="#accordion-payment">
                                        <div class="card-body">
                                            Bạn có thể thanh toán khi nhận hàng. Hãy chắc chắn bạn có đủ tiền mặt để thanh toán khi hàng được giao đến.
                                            @* <input type="hidden" name="PaymentMethod" value="COD" /> *@
                                        </div><!-- End .card-body -->

                                        <button type="submit" name="PayUrl" class="btn btn-outline-primary-2 btn-order btn-block" onclick="setPaymentMethod('COD')">
                                            <span class="btn-text">Place Order</span>
                                            <span class="btn-hover-text">Proceed to Checkout</span>
                                        </button>
                                    </div><!-- End .collapse -->
                                </div><!-- End .card -->

                                <div class="card">
                                    <div class="card-header" id="heading-momo">
                                        <h2 class="card-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-momo" aria-expanded="false" aria-controls="collapse-momo">
                                                Thanh toán bằng Momo
                                            </a>
                                        </h2>
                                    </div><!-- End .card-header -->
                                    <div id="collapse-momo" class="collapse" aria-labelledby="heading-momo" data-parent="#accordion-payment">
                                        <div class="card-body">
                                            <p>Quét mã QR hoặc sử dụng số điện thoại để thanh toán nhanh chóng qua Momo.</p>
                                            <!-- Hidden inputs for Momo payment -->
                                            @* <input type="hidden" name="PaymentMethod" value="Momo" /> *@
                                            <input type="hidden" name="FullName" value="@User.Identity.Name" />
                                            <input type="hidden" name="Amount" value="@Model.GrandTotal" />
                                            <input type="hidden" name="OrderId" value="@Guid.NewGuid().ToString()" />
                                            <input type="hidden" name="OrderInfo" value="Thanh toán Momo cho đơn hàng tại Ecommerce-Shop" />
                                        </div><!-- End .card-body -->
                                        @* <button type="submit" name="PayUrl" class="btn btn-danger btn-block">Thanh toán bằng Momo</button> *@
                                        <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block" name="PayUrl" onclick="setPaymentMethod('Momo')">
                                            <span class="btn-text">Place Order</span>
                                            <span class="btn-hover-text">Proceed to Checkout</span>
                                        </button>
                                    </div><!-- End .collapse -->
                                </div>


                                <div class="card">
                                    <div class="card-header" id="heading-vnpay">
                                        <h2 class="card-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-vnpay" aria-expanded="false" aria-controls="collapse-vnpay">
                                                Thanh toán bằng VNPay
                                            </a>
                                        </h2>
                                    </div><!-- End .card-header -->
                                    <div id="collapse-vnpay" class="collapse" aria-labelledby="heading-vnpay" data-parent="#accordion-payment">
                                        <div class="card-body">
                                            Thanh toán dễ dàng qua VNPay với mã QR hoặc thông tin tài khoản ngân hàng.
                                            <input type="hidden" name="Name" value="@User.Identity.Name" />
                                            <input type="hidden" name="Amount" value="@Model.GrandTotal" />
                                            <input type="hidden" name="OrderId" value="@Guid.NewGuid().ToString()" />
                                            <input type="hidden" name="OrderDescription" value="Thanh toán VnPay cho đơn hàng tại Ecommerce-Shop" />
                                            <input type="hidden" name="OrderType" value="other" />
                                        </div>
                                        <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block" name="PayUrl" onclick="setPaymentMethod('VnPay')">
                                            <span class="btn-text">Place Order</span>
                                            <span class="btn-hover-text">Proceed to Checkout</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div><!-- End .summary -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </form>
           @*  <form asp-action="CreatePaymentUrlVnpay" asp-controller="Payment" method="post">
                <input type="hidden" name="Name" value="@User.Identity.Name" /> *@
                @* <input type="hidden" name="Amount" value="@Model.GrandTotal" /> *@
                @* <input type="hidden" name="Amount" value="@(Convert.ToInt64(Model.GrandTotal))" /> *@
                @* <input type="hidden" name="OrderId" value="@Guid.NewGuid().ToString()" /> *@
                @* <input type="hidden" name="OrderDescription" value="Thanh toán VnPay cho đơn hàng tại Ecommerce-Shop" />
                <input type="hidden" name="OrderType" value="other" />
                <button class="btn btn-success" type="submit">Pay with VnPay</button>
            </form> *@
        </div><!-- End .container -->
    </div><!-- End .checkout -->
</div>
@section Js {
    <script>
        function setPaymentMethod(method)
        {
            document.getElementById("PaymentMethod").value = method;
        }
    </script>
}
